<body>
    <header>
        <p>&copy; COVEICyDET</p>
        <div class="timer">Tiempo restante: {{ formatoTiempo() }}</div>
    </header>

    <div class="overlay" (click)="cerrarMenu()"></div>
    
    <button class="sidebar-btn" [class.oculto]="menuAbierto" (click)="toggleMenu()">☰</button>
    
    <div class="menu" [class.abierto]="menuAbierto">
        <button (click)="navegarA('informacionGeneral')">Información General</button>
        <div *ngIf="submenuAbierto" class="submenu">
            <button (click)="navegarA('datosPersonales')">Datos Personales</button>
            <button (click)="navegarA('fnacimiento')">Lugar de Nacimiento</button>
            <button (click)="navegarA('domicilio')">Domicilio Particular</button>
            <button (click)="navegarA('contacto')">Contacto</button>
            <button (click)="navegarA('desarrollo')">Desarrollo</button>
            <button (click)="navegarA('FormacionAcademica')">Formación Académica</button>
        </div>
        <button (click)="navegarA('produccionCientifica')">Producción Científica y/o Académica</button>
        <button (click)="navegarA('documentos')">Documentos</button>
        <button (click)="navegarA('guiaUsuario')">Guía de Usuario</button>
        <button (click)="navegarA('logout')">LogOut</button>
    </div>

    <div class="main-container">
        <div class="card">
            <div class="contact-form">
                <div class="encabezado-container">
                    <button class="btn-regresar" (click)="navegarA('fnacimiento')">⬅</button>
                    <h2>Información general > Domicilio particular</h2>
                </div>
                <form [formGroup]="domicilioForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="codigoPostal">Código postal</label>
                            <div class="input-group">
                                <input type="text" id="codigoPostal" formControlName="codigoPostal">
                                <a href="https://www.correosdemexico.gob.mx/SSLServicios/ConsultaCP/Descarga.aspx" target="_blank"
                                    class="btn-validar">Consultar código</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="calle">Calle</label>
                            <input type="text" id="calle" formControlName="calle">
                        </div>
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input type="text" id="numero" formControlName="numero">
                        </div>
                        <div class="form-group">
                            <label for="colonia">Colonia</label>
                            <input type="text" id="colonia" formControlName="colonia">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="municipio">Municipio</label>
                            <input type="text" id="municipio" formControlName="municipio">
                        </div>
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <input type="text" id="estado" formControlName="estado">
                        </div>
                        <div class="form-group">
                            <label for="pais">País</label>
                            <input type="text" id="pais" formControlName="pais">
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn-guardar">Guardar</button>
                        <button (click)="navegarA('contacto')" class="btn-siguiente">Siguiente</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; COVEICyDET | 2022 | Todos los derechos reservados</p>
    </footer>
</body>