<body>
    <header>
        <p>&copy; COVEICyDET</p>
        <div class="timer">
            Tiempo restante: {{ formatoTiempo() }}
        </div>
    </header>
    <div class="card">
        <div class="autoria-form">
            <h2>Producción Científica > Patentes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre del proyecto</th>
                        <th>No. registro</th>
                        <th>Fecha registro</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patente of patentes">
                        <td>{{ patente.tipo }}</td>
                        <td>{{ patente.nombreProyecto }}</td>
                        <td>{{ patente.noRegistro }}</td>
                        <td>{{ patente.fechaRegistro }}</td>
                        <td>
                            <button (click)="editarPatentes(patente)">Editar</button>
                            <button (click)="eliminarPatentes(patente)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button (click)="mostrarModal()" class="btn-agregar">Agregar</button>
        </div>
    </div>
    
    <div *ngIf="modalVisible" class="modal">
        <div class="modal-content">
            <h3>{{ modoEdicion ? 'Editar' : 'Agregar' }} Patente</h3>
            <form [formGroup]="patentesForm" (ngSubmit)="guardarPatentes()">
                <input formControlName="tipo" placeholder="Tipo">
                <input formControlName="nombreProyecto" placeholder="Nombre del proyecto">
                <input formControlName="noRegistro" placeholder="No. registro">
                <input formControlName="fechaRegistro" type="date" placeholder="Fecha registro">
                <div class="button-container">
                    <button type="submit">Guardar</button>
                    <button type="button" (click)="cerrarModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    
    <footer>
        <p>&copy; COVEICyDET | 2022 | Todos los derechos reservados</p>
    </footer>

</body>