<body>
    <header>
        <p>&copy; COVEICyDET</p>
        <div class="timer">
            Tiempo restante: {{ formatoTiempo() }}
        </div>
    </header>

<div class="overlay" (click)="cerrarMenu()"></div>
    
    <button class="sidebar-btn" [class.oculto]="menuAbierto" (click)="toggleMenu()">☰</button>
    
    <div class="menu" [class.abierto]="menuAbierto">
        <button (click)="navegarA('inicio')">Información General</button>
        <button (click)="navegarA('produccionCientifica')">Producción Científica y/o Académica</button>
        <div *ngIf="submenuAbierto" class="submenu">
            <button (click)="navegarA('autoria')">Autoria/Coautoria de libros</button>
            <button (click)="navegarA('proyectos')">Proyectos de investigación</button>
            <button (click)="navegarA('patentes')">Patentes</button>
            <button (click)="navegarA('articulosRevistaIndexada')">Articulos de revista indexada</button>
            <button (click)="navegarA('articulosRevistaDivulgacionCientifica')">Articulos de revista de divulgacion
                cientifica</button>
            <button (click)="navegarA('implementacionTecnologica')">Implementación tecnologica</button>
            <button (click)="navegarA('gradosAcademicosPNPC')">Grados academicos en PNPC</button>
            <button (click)="navegarA('formaObtencionGrados')">Forma de obtencio de grados</button>
            <button (click)="navegarA('sni')">SNI</button>
            <button (click)="navegarA('estancias')">Estancias</button>
        </div>
        <button (click)="navegarA('documentos')">Documentos</button>
        <button (click)="navegarA('guiaUsuario')">Guía de Usuario</button>
        <button (click)="navegarA('logout')">LogOut</button>
    </div>
    <div class="main-container">
        <div class="main-container">
            <div class="card">
                <div class="autoria-form">
                    <div class="encabezado-container">
                        <button class="btn-regresar" (click)="navegarA('patentes')">⬅</button>
                        <h2>Producción Científica > Artículos de revista indexada</h2>
                    </div>                    
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Autor</th>
                                <th>Fecha aceptado</th>
                                <th>Fecha publicado</th>
                                <th>Revista</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let articulo of articulos">
                                <td>{{ articulo.titulo }}</td>
                                <td>{{ articulo.autor }}</td>
                                <td>{{ articulo.fechaAceptado }}</td>
                                <td>{{ articulo.fechaPublicado }}</td>
                                <td>{{ articulo.nombreRevista }}</td>
                                <td class="acciones">
                                    <div class="accion">
                                        <button (click)="editarArticulo(articulo)">Editar</button>
                                    </div>
                                    <div class="accion">
                                        <button (click)="eliminarArticulo(articulo)">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-borde">
                        <button (click)="mostrarModal()" class="btn-agregar">Agregar</button>
                        <button (click)="navegarA('articulosRevistaDivulgacionCientifica')" class="btn-siguiente">Siguiente</button>
                    </div>
                </div>
            </div>
            
            <div *ngIf="modalVisible" class="modal">
                <div class="modal-content">
                    <h3>{{ modoEdicion ? 'Editar' : 'Agregar' }} Artículo de revista indexada</h3>
                    <form [formGroup]="articulosForm" (ngSubmit)="guardarArticulo()">
                        <label for="Título del artículo">Título del artículo</label>
                        <input formControlName="titulo" placeholder="Título del artículo">
                        <label for="autor">Autor o Coautor</label>
                        <input formControlName="autor" placeholder="Autor o Coautor">
                        <label for="fechaAceptado">Fecha aceptado</label>
                        <input formControlName="fechaAceptado" type="date" placeholder="Fecha aceptado">
                        <label for="fechaPublicado">Fecha publicado</label>
                        <input formControlName="fechaPublicado" type="date" placeholder="Fecha publicado">
                        <label for="nombreRevista">Nombre de la revista</label>
                        <input formControlName="nombreRevista" placeholder="Nombre de la revista">
                        <label for="pertenece">Pertenece</label>
                        <input formControlName="pertenece" placeholder="Pertenece">
                        <label for="referencia">Referencia</label>
                        <input formControlName="referencia" placeholder="Referencia">
                        <div class="button-container">
                            <button type="submit" class="btn-aceptar">Aceptar</button>
                            <button type="button" class="btn-cancelar" (click)="cerrarModal()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; COVEICyDET | 2022 | Todos los derechos reservados</p>
    </footer>
</body>