<header>
    <p>&copy; COVEICyDET</p>
    <div class="timer">
        Tiempo restante: {{ formatoTiempo() }}
    </div>
</header>

<div class="overlay" (click)="cerrarMenu()"></div>

<button class="sidebar-btn" [class.oculto]="menuAbierto" (click)="toggleMenu()">☰</button>

<div class="menu" [class.abierto]="menuAbierto">
    <button (click)="navegarA('informacionGeneral')">Información General</button>
    <button (click)="navegarA('produccionCientifica')">Producción Científica y/o Académica</button>
    <button (click)="navegarA('documento')">Documentos</button>
    <div *ngIf="submenuAbierto" class="submenu">
        <button (click)="navegarA('credencialINE')">INE</button>
        <button (click)="navegarA('documentoProbatorioAdscripcionInstitucional')">Documento probatorio de
            adscripción</button>
        <button (click)="navegarA('documentoProbatorioParticipacionProyectos')">Documento probatorio participacion
            proyectos</button>
        <button (click)="navegarA('documentoProbatorioProduccionCientifica')">Documento probatorio produccion
            cientifica</button>
    </div>
    <button (click)="navegarA('guiaUsuario')">Guía de Usuario</button>
    <button (click)="navegarA('logout')">LogOut</button>
</div>

<div class="main-container">
    <div class="card">
        <div class="autoria-form">
            <div class="encabezado-container">
                <button class="btn-regresar" (click)="navegarA('documentoProbatorioAdscripcionInstitucional')">⬅</button>
                <h2>Documentación > Documento probatorio participacion proyectos</h2>
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th>Documento probatorio participacion proyectos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let documento of documentos">
                        <td>{{ documento.nombre }}</td>

                        <td class="acciones">
                            <div class="accion">
                                <button (click)="abrirDocumento(documento)">Ver documento</button>
                            </div>
                            <div class="accion">
                                <button (click)="eliminarDocumento(documento)">Eliminar</button>
                            </div>
                        </td>  
                    </tr>
                </tbody>
            </table>
            <div class="button-inferior">
                <button (click)="mostrarModal()" class="btn-agregar">Subir Documento</button>
                <button (click)="navegarA('documentoProbatorioProduccionCientifica')" class="btn-blanco">Siguiente</button>
            </div>
        </div>
    </div>

    <div *ngIf="modalVisible" class="modal">
        <div class="modal-content">
            <h3>Subir Documento probatorio participacion proyectos</h3>
            <form [formGroup]="documentoForm" (ngSubmit)="guardarDocumento()">
                <input type="file" (change)="onFileChange($event)" accept=".pdf">
                <div *ngIf="error" class="error">{{ error }}</div>
                <div class="button-container">
                    <button type="submit" [disabled]="!documentoValido">Guardar</button>
                    <button type="button" (click)="cerrarModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer>
    <p>&copy; COVEICyDET | 2022 | Todos los derechos reservados</p>
</footer>